{% extends "template.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
	{% for data in dataset %}
	<div class="card mt-3">
		<div class="card-header">
			{{ data.upvote}} {{data.downvote }}
		</div>
		<div class="card-body">
			<h5 class="card-title">{{ data.title }}</h5>
			<p class="card-text " style="display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;">{{ data.content }}</p>
			<a href="/detail/{{ data.id }}" class="btn btn-primary">details</a>
		</div>
	</div>

	{% endfor %}
{% endblock %}